@import url('https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&display=swap');

/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0a0a0a;
  color: #d5b1ac;
  font-family: 'Georgia', serif;
  text-align: center;
  padding: 20px;
}

.header {
  display: flex;
  align-items: center;
  padding: 10px 0;
  padding-bottom: 5rem;

}

.logo {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.brand-name {
  font-weight: bold;
  font-size: 1.5rem;
  color: #d5b1ac;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 5px;
}

.hero p {
  margin-bottom: 15px;
}

.hero button {
  background-color: #d5b1ac;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  color: #0a0a0a;
}

.products {
  margin-top: 50px;
}

.products h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.products p {
  margin-bottom: 20px;
}

.filters button {
  font-family: Literata , serif;
  background-color: transparent;
  border: 1px solid #d5b1ac;
  color: #d5b1ac;
  margin: 0 5px;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 20px;
  font-size: 0.9rem;
}

.filters button.active,
.filters button:hover {
  background-color: #d5b1ac;
  color: #0a0a0a;
}

.product-list {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
}

.product-item {
  max-width: 200px;
}

.product-item img {
  width: 100%;
  border-radius: 6px;
}

.product-item h3 {
  margin-top: 10px;
  font-weight: 700;
}

.product-item p {
  font-size: 0.85rem;
  color: #ccc;
}

.instagram {
  margin-top: 80px;
}

.instagram h2 {
  margin-bottom: 5px;
  font-size: 1.8rem;
}

.instagram p {
  margin-bottom: 20px;
  color: #ccc;
}

.insta-photos {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.insta-photos img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
}

.instagram button {
  background-color: #d5b1ac;
  border: none;
  padding: 14px 50px;
  border-radius: 5px;
  cursor: pointer;
  color: #0a0a0a;
}

.contact {
  margin-top: 80px;
}

.contact h2 {
  font-size: 2.1rem;
  margin-bottom: 10px;
}

.contact p {
  margin-bottom: 20px;
  font-size: 1.1rem;
  color: #ccc;
}

.contact button {
  background-color: #25D366;
  border: none;
  padding: 15px 50px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-weight: 600;
}

.footer {
  margin-top: 100px;
  padding: 20px 0;
  border-top: 1px solid #333;
  color: #999;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.logo-footer {
  width: 25px;
  height: auto;
}
